/* Reset de márgenes y rellenos */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Aside: 20% ancho y 100% altura */
aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color: #444;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilo lista enlaces */
aside .links {
    list-style: none;
    padding: 0;
}

aside .links li {
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

aside .links li:hover {
    background-color: #444;
    transform: scale(1.05)
        /*Zoom*/
}

aside .links li.activeLink {
    background-color: #666;
}

aside .links i {
    font-size: 1.5rem;
}

/* Contenedor principal 80% del ancho*/
.Swiper {
    background-color: #666;
    margin-left: 20%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

/* Contenedor secciones */
.SlideContainer {}


.swiper-slide {
    display: none;
    animation-duration: 0.8s;
    width: 70%;
    height: 80vh;
    background-color: rgb(108, 108, 119);
    animation-timing-function: ease-in-out;
    transform-origin: center;
    position: absolute;
    padding: 60px;
}


.swiper-slide.activada {
    display: block;
    animation: MoveIn 1.0s ease-in-out forwards;
}

.swiper-slide.ultima {
    display: block;
    animation: MoveOut 1.0s ease-in-out forwards;
}

/* Animación de entrada */
@keyframes MoveIn {
    0% {
        transform: perspective(1000px) rotateY(90deg) translateX(50%);
        opacity: 0;
    }

    100% {
        transform: rotateY(0deg) translateX(0) scale(1);
        opacity: 1;
    }
}

/* Animación de salida */
@keyframes MoveOut {
    0% {
        transform: rotateY(0deg) translateX(0);
        opacity: 1;
    }

    100% {
        transform: rotateY(90deg) translateX(-20%);
        opacity: 0;
    }
}



/* Estilo para las imagenes */
.SideImg {}

.SideImg img {}