/* Reset de márgenes y rellenos */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Aside: 20% ancho y 100% altura */
aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color: #333;
    color: white;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilo lista enlaces */
aside .links {
    list-style: none;
    padding: 0;
}

aside .links li {
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

aside .links li:hover {
    background-color: #444;
    transform: scale(1.05)
        /*Zoom*/
}

aside .links li.activeLink {
    background-color: #555;
}

aside .links i {
    font-size: 1.5rem;
}

/* Contenedor principal 80% del ancho*/
.Swiper {
    background-color: #555;
    margin-left: 20%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

/* Contenedor secciones */
.SlideContainer {}

/* Ocultar todas secciones por defeecto */
.swiper-slide {
    display: none;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    transform-origin: center;
}

/* Cuando la sección se activa (entra en pantalla) */
.swiper-slide.activada {
    display: block;
    animation: MoveIn 0.8s ease-in-out forwards;
}

@keyframes MoveIn {
    0% {
        transform: rotateY(90deg) translateX(100%);
        /* Empieza girando fuera de la pantalla */
        opacity: 0;
        /* Opcional, la sección es invisible al principio */
    }

    100% {
        transform: rotateY(0deg) translateX(0);
        /* Termina en su posición original */
        opacity: 1;
        /* Se vuelve completamente visible */
    }
}


/* Estilo para las imagenes */
.SideImg {}

.SideImg img {}